/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

#testoAlternato {
  padding: 20px;
  margin: 200px;
  width: 30%;
  border: solid 1px black;
  position: relative;
}
i {
  color: rgb(123, 134, 134);
  position: absolute;
}

#first {
  opacity: 1;
  animation: fadeInOut 5s infinite;
}
@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#second {
  opacity: 0;
  animation: fadeIn 5s 7s infinite;
}
@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#third {
  opacity: 0;
  animation: fadeInOut 5s infinite;
}
/* @keyframes fadeIn {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
} */
